
h1{text-align: center;
}
h4{
	text-align: center;
}
h5{
	color:red;
	text-align: center;
}
body{
	text-align: center;
}
ol{
	text-align: center;
margin-left:auto;margin-right:auto;
    padding: auto;
    margin: auto;
}

li{    
  
        vertical-align: middle;
    
	text-align: center;
	margin-left:auto;margin-right:auto
}
table{
	
	border:1px solid #d4d4d4;
	margin: 0 auto; 
width:auto;
}
form{
margin: 0 auto; 
width:250px;

	background-color: rgb(0,211,255);
	width: auto;
	outline-color: rgb(0,255,255);
}
input{

	border: 2px solid rgb(255,0,0);
	color: red;
}
input.submit{
	background-color: rgb(255,255,255);
	width:auto;
	text-align: center;
}
}
